<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Prominc_Shipping>
            <version>1.1.0</version>
        </Prominc_Shipping>
    </modules>
    <global>
        <models>
            <prominc_shipping>
                <class>Prominc_Shipping_Model</class>
            </prominc_shipping>
            <shipping>
                <rewrite>
                    <shipping>Prominc_Shipping_Model_Shipping</shipping>
                </rewrite>
            </shipping>
            <usa>
                <rewrite>
                    <shipping_carrier_ups>Prominc_Shipping_Model_Shipping_Carrier_Ups</shipping_carrier_ups>
                </rewrite>
            </usa>
        </models>
    </global>
</config>
